{% extends 'rango/base.html' %}
{% load staticfiles %}

<title>
			Rango -
            {% block title_block %}
               Add a Category
			{% endblock %}
</title> 

{%block body_block%}
		<h1>Add a Category</h1> 

		<div>
			<form id="category_form" method="post" action="/rango/add_category/"> 
				{% csrf_token %}
            	{% for field in form.visible_fields %}
               		<strong>Please enter {{field.name}}</strong>
                	{{ field }}
				{%endfor %}
				<input type="submit" name="submit" value="Create Category" /> 
			</form>
		</div>

{%endblock%}