{% extends 'rango/base.html' %}
{% load staticfiles %}

<title>
	Rango -
    {% block title_block %}
    	Add a Page
	% endblock %}
</title> 

{%block body_block%}
		<h1>Add a Page</h1> 

		<div>
			<form id="page_form" method="post" action="/rango/category/{{category.slug}}/add_page/"> 
				{% csrf_token %}
            	{% for field in form.visible_fields %}
               		<strong>Please enter {{field.name}}</strong>
                	{{ field }} <br/>
				{%endfor %}
				<input type="submit" name="submit" value="Create Page" /> 
			</form>
		</div>

{%endblock%}